<div class="stat">
  <span class="stat_title">Software Inventory Metadata</span>
  <div class="stat_data">
    {{- $swMap := index . "software_inventory_metadata" }}
    {{- if not $swMap }}
      <div style="font-weight: bold; padding: 1em;">No software inventory metadata - is System Probe running?</div>
    {{- else }}
      <table>
        <thead>
          <tr>
            <th>Software</th>
            <th>Metadata</th>
          </tr>
        </thead>
        <tbody>
          {{- range $productCode, $meta := $swMap }}
          <tr>
            <td>
              {{- if index $meta "DisplayName" }}
                {{ index $meta "DisplayName" }}
              {{- else }}
                {{ $productCode }}
              {{- end }}
            </td>
            <td>
              {{- if $meta }}
                <ul style="margin:0; padding-left:1em;">
                  {{- range $k, $v := $meta }}
                    <li><strong>{{ $k }}:</strong> {{ $v }}</li>
                  {{- end }}
                </ul>
              {{- else }}
                <em>No metadata</em>
              {{- end }}
            </td>
          </tr>
          {{- end }}
        </tbody>
      </table>
    {{- end }}
  </div>
</div>